#cl-container {
    height: 100vh;
    min-width: 1500px;
    min-height: 500px;
    background: #1C1B1FBF;
    display: grid;
    grid-template-columns: 400px auto;
}

#cl-left-pane {
    background: #757575;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#cl-lp-header-text {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

#cl-radio-button-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cl-radio-button {
    width: 30px;
    height: 30px;
}

#cl-radio-button:hover {
    cursor: pointer;
}

#cl-radio-button-text {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#cl-user-info-box {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.cl-uib-text {
    color: #FFF;
    text-align: right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

#cl-main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
}

#cl-mc-bottom-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 260px;
    height: 74px;
    border-radius: 10px;
    background: #3093C7;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: transparent;
}

#cl-mc-bottom-button:hover {
    cursor: pointer;
    background: #3cb7fb;
}

#cl-ci-container {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 40% 40% 20%;
    margin-bottom: 20px;
    background: #757575;
    padding-top: 15px;
    padding-bottom: 15px;
}

#cl-ci-left-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#cl-cit-left-align {
    text-align: left;
}

#cl-cit-center-align {
    text-align: center;
}

.cl-ci-text {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#cl-ci-middle-pane {
    background: #353839;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: -15px;
}

#cl-ci-right-pane {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

#cl-ci-top-button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #313033;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: transparent;
    margin-bottom: 10px;
}

#cl-ci-top-button:hover {
    cursor: pointer;
    background: #524f53;
}

#cl-ci-bottom-button {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background: #313033;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: transparent;
}

#cl-ci-bottom-button:hover {
    cursor: pointer;
    background: #524f53;
}